.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.movieCard {
    min-width: 200px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.movieCard:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    scale: 1.05;
}

.movieCard img {
    border-radius: 10px;
}

.movieCard h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}